@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');
h1{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    margin-top: 10px;
}

h2{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

hr{
    margin-top: -15px;
}

form{
    text-align: center;
}

.link{
    text-align:center;
}

.link a{
    display: inline-block;
    text-decoration: none;
    color: #99a1ab;
    transition-duration: 0.4s;
}

.link a:hover{
    color: #9c27b0;
}

.title-wrapper {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.home{
    color: #99a1ab;
    text-decoration: none;
    margin-top: -10px;
    transition-duration: 0.4s;
}

.home:hover{
    color: #9c27b0;
}

.title-wrapper h1 {
    margin-right: 1100px;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
}

.sing_in{
    color: white;
    background-color: #87129c;
    padding: 5px 55px;
    border-radius: 20px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 3px 3px 3px grey;
}

.sing_in:hover{
    background-color: #9c27b0;
}

.text{
    color: red;
    text-align:center;
}