@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');
h1{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    margin-top: 10px;
}

.qus{
    display: flex;
    text-align: center;
    list-style: none;
    justify-content:end;
    margin-top: -50px;
}

.qus a{
    text-decoration: none;
}

.qus li{
    margin-left: 10px;
}